* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 850px;
    width: 850px;
    border: 1px solid black;  
    order: 1; 
    background-color: white;
}

.gridElement{
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(170, 170, 170);
}

.button {
    width: 200px;
    height: 50px;  
    background-color: lightcoral;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.boxRow {
    display: flex;
}

.navbar {
    display: flex;
    gap: 20px;
}