* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 850px;
    width: 850px;
    border: 1px solid black;   
}

.gridElement, .gridElementChanged {
    border: 1px solid black;
}

.gridElementChanged {
    background-color: gray;
}

body {
    display: flex;
    justify-content: center;
}

.button {
    width: 200px;
    height: 50px;   
}

.boxRow {
    display: flex;
}

